# hidden files by win/mac
.DS_STORE
Modules/ITD/Week 1/Slides/~$ITD_01_Augmented Reality.pptx
Modules/ITD/Week 1/Slides/~$ITD_00_ITD Introduction.pptx
Modules/DDA/Week08/lib/my/config.js
Modules/DDA/Week08/lib/my/config-only.js